.selection-segment {
    text-align: center;
    margin-bottom: 2rem;
}
.selection-segment label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-filter: grayscale(1);
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

#field-selection {
    display: none;
}

[value="Login"]:checked ~ .selection-segment [for="Login"],
[value="Order"]:checked ~ .selection-segment [for="Order"] {
    -webkit-filter: grayscale(0);
}

[value="Login"]:checked ~ div #field-selection:not([name="OrderComp"]) {
    display: block;
}

[value="Order"]:checked ~ div #field-selection:not([name="LoginComp"]) {
    display: block;
}
