.slick-prev:before,
.slick-next:before {
    color: #000000 !important;
}

.slider {
    margin: 5% auto;
    width: 50%;
}

.tile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-body div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider .slick-slide {
    margin-right: 50px;
    margin-left: 50px;
}
