.category-badge {
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    height: 60px;
    justify-content: center;
    left: -5px;
    line-height: 14px;
    line-break: auto;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 60px;
    z-index: 100;
}
